.aboutComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $componentHeightSmall;
  min-height: $componentMinHeightSmall;
  background-color: $coreJungleGreen;
  color: $coreWhite;
  margin-top: $componentMargin;
}
.aboutWrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  font-family: $mainFontFamily;
  padding: 50px;
  h1 {
    text-transform: uppercase;
    color: $coreLightGray;
    height: auto;
  }
  h2 {
    margin: 0;
    color: $coreLightGray;
    text-transform: uppercase;
    height: auto;
  }
  h3 {
    color: $coreCharcoal;
    height: auto;
  }
  p {
    font-size: $fontSizeRegular;
    color: $coreLightGray;
    padding: 5px;
    max-width: 365px;
    min-width: 365px;
    height: auto;
  }
}