.educationComponentWrapper {
  height: $componentHeightSmall;
  min-height: $componentHeightSmall;
  max-height: $componentHeightRegular;
  display: flex;
  flex-direction: column;
  margin-top: $componentMargin;
}
.redClose {
  @include educationComponentClose;
  background: $coreMustard;
  .redButtonClose {
  @include educationButtonClose;
  background: $coreMustard;
  }
}
.redOpen {
  @include educationComponentOpen;
  background-color: $shadeOne;
  .redButtonOpen {
    @include educationButtonOpen;
    background-color: $coreMustard;
  }
}
.universityClose {
  @include educationComponentClose;
  background: $coreJungleGreen;
  .universityButtonClose {
    @include educationButtonClose;
    background: $coreJungleGreen;

  }
}
.universityOpen {
  @include educationComponentOpen;
  background: $shadeTwo;
  .universityButtonOpen {
    @include educationButtonOpen;
    background: $coreJungleGreen;
  }
}
.collegeClose {
  @include educationComponentClose;
  background: $coreCharcoal;
  .collegeButtonClose {
    @include educationButtonClose;
    background: $coreCharcoal;
  }
}
.collegeOpen {
  @include educationComponentOpen;
  background: $shadeThree;
  .collegeButtonOpen {
    @include educationButtonOpen;
    background: $coreCharcoal;
  }
}