.findMeContainer {
  height: 30vh;
  min-height: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5px;
  background: #171717;
  @include tablet {
    height: 20vh;
    min-height: 250px;
  }
  @include desktop {
    min-height: 310px;
  }
  .fontAwesomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    max-height: 150px;
    height: 50%;
    .fontAwesomeWrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 55%;
      min-width: 225px;
      max-width: 250px;
      svg {
        color: $coreLightGray;
        font-size: 6em;
         transition: 200ms;
        &:hover {
          color: $coreJungleGreen;
          font-size: 7em;
          transition: 200ms;
        }
        &:active {
          font-size: 6em;
        }
      }
    }
  }
  .findMeTextContainer {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4%;
    @include tablet {
      margin: 1%;
    }
    .findMeText {
      width: 90%;
      min-width: 355px;
      max-width: 610px;
      font-size: 15px;
      font-family: $mainFontFamily;
      line-height: 25px;
      color: white;
      text-align: center;
      text-shadow: -1.5px 4px 1px #000;
      .cornyText {
        margin-bottom: 15px;
      }
      .copyRightText {
        color: $coreJungleGreen;
        font-size: $buttonTextSmall;
        text-transform: uppercase;
      }
    }
    p {
      height: auto;
    }
  }
}