.findMeHeroBanner {
  height: $componentHeightRegular;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: $componentMinHeightRegular;
  background-color: $coreMustard;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .20) 0%, rgba(0, 0, 0, .1) 100%), url('../content/BackgroundImages/footerCoastline.jpg' ) bottom center no-repeat;
  background-size: cover;
  min-width: 100px;
  margin-top: $componentMargin;
  @include tablet {
    min-height: 315px;
  }
  .findMeTextWrapper {
    p {
      color: $coreWhite;
      font-size: $fontSizeLarge;
      font-family: $mainFontFamily;
      text-transform: uppercase;
      text-shadow: -1.5px 2px 1px #000;
   }
  }
}