.headerComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .30) 0%, rgba(0, 0, 0, .10) 100%), url('../content/BackgroundImages/backgroundImage.jpg' ) bottom center no-repeat;
  height: 100vh;
  min-height: 670px;
  width: 100%;
  background-size: cover;
  flex-wrap: wrap;
  .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    .headerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 90%;
      width: 100%;
      .headerTextWrapper {
        display: flex;
        text-align: center;
        align-items: flex-end;
        height: 50%;
        width: 75%;
        max-width: 800px;
        min-width: 300px;
        @include tablet {
          width: 85%;
        }
        p {
          color: $coreWhite;
          font-family: $mainFontFamily;
          font-size: $fontSizeMedium;
          text-shadow: -1.5px 2px 1px #000;
          @include tablet {
            font-size: $fontSizeLarge;
          }
          @include desktop {
            font-size: $fontSizeExtraLarge;
          }
        }
      }
    }
  }
  .headerButtonContainer {
    display: flex;
    justify-content: center;
    height: 31%;
    width: 95%;
    max-width: 450px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 80px;
        align-self: flex-end;
        border-radius: 6px;
        border: none;
        background-color: $coreJungleGreen;
        color: $coreLightGray;
        font-size: $fontSizeRegular;
        font-family: $mainFontFamily;
        text-transform: uppercase;
        box-shadow: -3px 4px 5px -1px black;
        text-shadow: -1.5px 2px 1px #000;
        transition: 400ms;
        &:hover {
          background-color: $hoverJungleGreen;
          width: 235px;
          height: 95px;
          cursor: pointer;
          transition: 400ms;
        }
        &:focus {
          outline:0;
        }
        &:active {
          width: 225px;
          height: 80px;
          transition: 400ms;
        }
      }
    }
}
.gitHubButton {
  margin-right: 10px;
        a {
          width: 100%;
          svg {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            font-size: 3em;;
            width: 100%;
          }
        }
}
.linkedInButton {
  margin-left: 10px;
        a {
          width: 100%;
          svg {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            font-size: 3em;;
            width:100%;
          }
        }
}