//EDUCATION COMPONENT MIXINS:

@mixin educationComponentClose {
  display: flex;
  flex-basis: 33.3333%;
  justify-content: center;
  align-items: center;
}
@mixin educationComponentOpen {
  display:flex;
  flex-direction: column;
  flex-basis: 45%;
}
@mixin educationButtonClose {
  width: 97%;
  height: 90%;
  border: none;
  color: $coreWhite;
  text-transform: uppercase;
  font-size: $fontSizeRegular;
  font-family: $mainFontFamily;
  box-shadow: 0px 4px 7px 0px black;
  &:hover {
    width: 98%;
    height: 93%;
    cursor: pointer;
    font-size: $fontSizeMedium;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    width: 97%;
    height: 90%;
  }
}

@mixin educationButtonOpen {
  flex-basis:25%;
  width:100%;
  background: transparent;
  border: none;
  color: $coreWhite;
  text-transform: uppercase;
  font-family: $mainFontFamily;
  font-size: $buttonTextSmall;
  box-shadow: 0px 2px 5px 0px black;
  &:hover {
    flex-basis: 30%;
    font-size: $buttonTextLarge;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    flex-basis:25%;
  }
}
@mixin educationInfo {
  .educationInfo {
    display: flex;
    flex-basis: 75%;
    flex-direction: column;
    justify-content: center;
    span {
      display: flex;
      flex-basis: 75%;
      flex-direction: column;
      text-align: center;
      color: white;
      p {
        font-size: $fontSizeRegular;
        font-family: $mainFontFamily;
        font-weight: medium;
      }
    }
  }
}

//TOOLS COMPONENT MIXINS:

@mixin toolsComponentClose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
@mixin toolsComponentOpen {
  display: flex;
  flex-basis: 50%;
}
@mixin toolsButtonClose {
  width: 95%;
  height: 94%;
  background: transparent;
  border: none;
  text-transform: uppercase;
  color: $coreWhite;
  font-size: $buttonTextSmall;
  font-family: $mainFontFamily;
  box-shadow: 0px 4px 7px 0px black;
  &:hover {
    width: 96%;
    height: 95%;
    font-size: $buttonTextLarge;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    width: 95%;
    height: 94%;
  }
}
@mixin toolsInfoElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@mixin toolsComponentBanner {
  flex-basis: 18%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $coreWhite;
  font-size: $buttonTextSmall;
  font-family: $mainFontFamily;
  text-transform: uppercase;
  box-shadow: 0px 2px 5px 0px black;
}
@mixin tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 63%;
  width: 100%;
    span {
      text-align: center;
      font-family: $mainFontFamily;
      font-size: $buttonTextLarge;
      color: $coreWhite;
    }
}
@mixin toolsButtonWrapper {
  display: flex;
  justify-content: center;
  flex-basis: 17%;
  width: 100%;
  padding-bottom: 5px;
}
@mixin toolsButtonOpen {
  height: 50px;
  width: 95%;
  align-self: flex-end;
  box-shadow: -4px 3px 10px -1px black;
  border: none;
  border-radius: 5px;
  color: $coreWhite;
  font-family: $mainFontFamily;
  font-size: $buttonTextSmall;
  text-transform: uppercase;
  &:hover {
    height: 55px;
    width: 96.5%;
    font-size: $buttonTextLarge;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    height: 50px;
    width: 95%;
  }
}

//Books Sections Mixin
@mixin sectionsButtonsOpen {
  width: 35%;
  height: 85%;
  transition: 400ms;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 7px 0px black;
  text-transform: uppercase;
  color: $coreWhite;
  font-size: $buttonTextSmall;
  font-family: $mainFontFamily;
  background: $shadeThree;
  &:hover {
    width: 38%;
    height: 90%;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:active {
    width: 35%;
    height: 85%;
  }
}
@mixin sectionsButtonsClose {
  width: 30%;
  height: 65%;
  transition: 400ms;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 7px 0px black;
  text-transform: uppercase;
  color: $coreWhite;
  font-size: $buttonTextSmall;
  font-family: $mainFontFamily;
  background: $coreCharcoal;
  &:hover {
    width: 34%;
    height: 80%;
    cursor: pointer;
    font-size: $buttonTextLarge;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    width: 32%;
    height: 65%;
  }
}
@mixin booksComponentOpen {
  display: flex;
  width: 100%;
  height: 100%;
}
@mixin booksComponentContainer {
  width: 100%;
  box-shadow: 0px 2px 5px 0px black;
}
@mixin booksComponentBanner {
  height: 20%;
  background: $coreJungleGreen;
}
@mixin booksBannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  box-shadow: 0px 2px 5px 0px black;
  color: $coreWhite;
  font-size: $buttonTextSmall;
  font-family: $mainFontFamily;
  text-transform: uppercase;
}
@mixin booksContainer {
  text-align: center;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $coreWhite;
  font-size: $buttonTextSmall;
  font-family: $mainFontFamily;
  background: $shadeTwo;
}
@mixin booksWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  width: 97%;
  height: 90%;
}