.mobileNavBar {
  display: flex;
  background-color: $coreDarkBlue;
  align-items: center;
  height: 100px;
  width: 100%;
  p {
    display: flex;
    align-items: center;
    color: $coreLightGray;
    font-size: $fontSizeRegular;
    font-family: $mainFontFamily;
    text-transform: uppercase;
    align-self:center;
    padding-left: 30px;
  }
}
.openButton {
  background-color: transparent;
  border: none;
  color: $corePastelGreen;
  align-self:center;
  padding-right: 30px;
  font-size: $fontSizeRegular;
  font-family: $mainFontFamily;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}