.mobileNavBar {
  display: flex;
  background-color: $darkGray;
  align-items: center;
  height: 15vh;
  min-height: 100px;
  width: 100%;
  position: fixed;
  opacity: 0.85;
  p {
    display: flex;
    align-items: center;
    color: $coreLightGray;
    font-size: $fontSizeRegular;
    font-family: $mainFontFamily;
    text-transform: uppercase;
    align-self:center;
    padding-left: 30px;
  }
}
.openButton {
  background-color: transparent;
  border: none;
  color: $coreJungleGreen;
  align-self:center;
  padding-right: 30px;
  font-size: $fontSizeRegular;
  font-family: $mainFontFamily;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  .fa {
    font-size: 2em;
    transition: 200ms;
    &:hover {
      font-size: 2.5em;
      transition: 200ms;
    }
  }
}