.mobileSubMenu {
  display: flex;
  flex-direction: column;
  height: 40vh;
}
.subMenuItems {
  flex-basis: 25%;
  height: 100%;
  background-color: $subMenuGreen;
  color: $coreLightGray;
  font-size: $fontSizeRegular;
  font-family: $mainFontFamily;
  border: none;
  &:hover {
    background-color: $darkGray;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}
.closeSubMenu {
  flex-basis: 25%;
  width: 100%;
  background-color: $darkGray;
  border:none;
  font-size: $fontSizeLarge;
  text-transform: uppercase;
  color: $coreLightGray;
  font-family: $mainFontFamily;
  box-shadow: 0px 2px 5px 0px black;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}
.aboutHeader {
    flex-basis: 15%;
    height: 14%;
    width: 100%;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #e4e7ec;
    font-size: 20px;
    font-family: "Roboto", sans;
  }
}