.mobileNavBarExpanded {
  display:flex;
  flex-direction: column;
  background-color:$coreJungleGreen;
  height: 40vh;
  max-height: 60vh;
  min-height: 400px;
  transition: opacity 500ms ease-in;
  position: absolute;
  position: fixed;
  width: 100%;
  opacity: 0.97;
}
.closeButton {
  flex-basis: 20%;
  width: 100%;
  background-color:$coreCharcoal;
  border:none;
  font-size: $fontSizeLarge;
  text-transform: uppercase;
  color: $coreLightGray;
  font-family: $mainFontFamily;
  box-shadow: 0px 2px 5px 0px black;
  &:hover {
    flex-basis: 25%;
    background-color: $shadeThree;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    flex-basis: 20%;
  }
}
.menuItems {
  flex-basis: 26.67%;
  background-color:transparent;
  font-size: $fontSizeRegular;
  font-family: $mainFontFamily;
  color: $coreLightGray;
  border: none;
  &:hover {
    background-color: #1C2A41;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}
