.mobileNavBar {
  display: flex;
  background-color: #171717;
  align-items: center;
  height: 10vh;
  min-height: 85px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
  p {
    display: flex;
    align-items: center;
    color: $coreLightGray;
    font-size: $fontSizeRegular;
    font-family: $mainFontFamily;
    text-transform: uppercase;
    align-self:center;
    padding-left: 15px;
  }
  .fullScreenNav {
    display: none;
    @include desktop {
      display: flex;
      flex-basis: 80%;
      align-items: center;
      justify-content: flex-end;
      align-items: center;
      min-width: 910px;
      height: 100%;
      margin-right: 2%;
      .fullScreenButtonContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: flex;
        height: 100%;
        width: 100%;
        max-width: 850px;
        margin-right: 2%;
        button {
          width: 125px;
          height: 50px;
          background: transparent;
          border: none;
          font-size: 14px;
          border-radius: 3px;
          transition: 800ms;
          color: $coreJungleGreen;
          text-transform: uppercase;
          font-family: $mainFontFamily;
          text-decoration: none;
          margin-right: 2px;
          &:hover {
            cursor: pointer;
            background: white;
            transition: 500ms;
            color: $coreJungleGreen;
          }
          &:focus {
            outline: 0;
            background: $coreJungleGreen;
            color: white;
            transition: 500ms;
          }
        }
      }
    }
  }
}
.openButton {
  background-color: transparent;
  border: none;
  color: $coreJungleGreen;
  align-self:center;
  padding-right: 15px;
  font-size: $fontSizeRegular;
  font-family: $mainFontFamily;
  text-transform: uppercase;
  @include desktop {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  svg {
    font-size: 2em;
    transition: 200ms;
    &:hover {
      font-size: 2.5em;
      transition: 200ms;
    }
  }
}
