.mobileNavBarExpanded {
  display:flex;
  flex-direction: column;
  background-color:$coreCharcoal;
  height: 40vh;
  max-height: 60vh;
  min-height: 400px;
  transition: opacity 500ms ease-in;
  position: absolute;
  position: fixed;
  width: 100%;

}
.closeButton {
  flex-basis: 25%;
  width: 100%;
  background-color:$coreJungleGreen;
  border:none;
  font-size: $fontSizeLarge;
  text-transform: uppercase;
  color: $coreLightGray;
  font-family: $mainFontFamily;
  &:hover {
    background-color: $hoverJungleGreen;
    cursor: pointer;
  }
}
.menuItems {
  flex-basis: 25%;
  background-color:transparent;
  font-size: $fontSizeRegular;
  font-family: $mainFontFamily;
  color: $coreLightGray;
  border: none;
  &:hover {
    background-color: #1C2A41;
    cursor: pointer;
  }
}
