.projectsClose {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  min-height: 150px;
  background: $shadeSix;
  margin-top: $componentMargin;
  transition: 600ms;
  .projectsButtonClose {
    @include educationButtonClose;
    width: 98%;
    height: 89%;
    background: $projectsBlack;
  }
}
.projectsOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $componentHeightRegular;
  min-height: $componentMinHeightRegular;
  margin-top: $componentMargin;
  transition: 600ms;
  .projectsOpenWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: $shadeTwo;
    .buttonContainer {
      display: flex;
      justify-content: center;
      height: 15%;
      width: 100%;
      .projectsButtonOpen {
        height: 100%;
        width:100%;
        background: $projectsBlack;
        border: none;
        color: $coreWhite;
        text-transform: uppercase;
        font-family: $mainFontFamily;
        font-size: $buttonTextSmall;
        box-shadow: 0px 2px 5px 0px black;
        &:hover {
          height: 120%;
          font-size: $buttonTextLarge;
          cursor: pointer;
        }
        &:focus {
          outline: 0;
        }
        &:active {
          height:100%;
        }
      }
    }
    .componentsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 95%;
      .componentsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        height: 100%;
        width: 100%;
      }
    }
  }
}
.componentsWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  .projectsSliderContainer {
    display: flex;
    width: 100%;
    height: 95%;
    background: red;
    .projectsSliderWrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .PotLucky {
        display: none;
        &:focus {
          display: flex;
        }
      }
      .R10 {
        display: none;
        &:focus {
          display: flex;
        }
      }
      .SpotShare {
        display: none;
        &:focus {
          display: flex;
        }
      }
      .InstaNews {
        display: none;
        &:focus {
          display: flex;
        }
      }
      .previousButtonContainer {
        flex-basis: 10%;
      }
      .nextButtonContainer {
        flex-basis: 10%;
      }
      .projectComponentContainer {
        flex-basis: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
