.projectsClose {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  min-height: 200px;
  background: $shadeTwo;
  margin-top: $componentMargin;
  transition: 600ms;
  .projectsButtonClose {
    @include educationButtonClose;
    width: 98%;
    height: 89%;
    background: $coreJungleGreen;
  }
}
.projectsOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  min-height: 500px;
  margin-top: $componentMargin;
  transition: 600ms;
  .projectsOpenWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: $shadeTwo;
    .buttonContainer {
      display: flex;
      justify-content: center;
      height: 15%;
      width: 100%;
      .projectsButtonOpen {
        height: 100%;
        width:100%;
        background: $coreJungleGreen;
        border: none;
        color: $coreWhite;
        text-transform: uppercase;
        font-family: $mainFontFamily;
        font-size: $buttonTextSmall;
        box-shadow: 0px 2px 5px 0px black;
        transition: 400ms;
        &:hover {
          height: 120%;
          font-size: $buttonTextLarge;
          cursor: pointer;
          transition: 400ms;
        }
        &:focus {
          outline: 0;
        }
        &:active {
          height:100%;
        }
      }
    }
    .componentsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 95%;
      .componentsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        height: 100%;
        width: 100%;
      }
    }
  }
}
.componentsWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  .projectsSliderContainer {
    height: 95%;
    width: 100%;
    max-width: 800px;
    .projectsSliderWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      height: 90%;
      .previousButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        flex-basis: 50%;
        height: 25%;
        transition: 400ms;
        .previousButton {
          width: 98%;
          height: 80%;
          background: $coreJungleGreen;
          box-shadow: -1px 1px 6px 1px black;;
          border-radius: 10px;
          border: none;
          transition: 400ms;
          &:hover {
            cursor: pointer;
            height: 98%;
            width: 100%;
            transition: 400ms;
          }
          &:focus {
            outline: none;
          }
          &:active {
            width: 98%;
            height: 95%;
          }
        }
      }
      .nextButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 3;
        height: 25%;
        width: 50%;
        .nextButton {
          width: 98%;
          height: 80%;
          background: $coreJungleGreen;
          border: none;
          border-radius: 10px;
          box-shadow: 1px 1px 6px 1px black;
          transition: 400ms;
          &:hover {
            cursor: pointer;
            height: 98%;
            width: 100%;
            transition: 400ms;
          }
          &:focus {
            outline: none;
          }
          &:active {
            width: 99%;
            height: 95%;
          }
        }
      }
      .projectComponentContainer {
        flex-basis: 100%;
        order: 1;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        .projectContainer {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 98%;
          border-radius: 10px;
          background: #13685E;
          box-shadow: 0px 1px 14px 0px black;
          .textContainer {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            height: 80%;
            .projectName {
              display: flex;
              justify-content: center;
              align-items: center;
              height:35%;
              p {
                font-family: $mainFontFamily;
                font-size: $fontSizeLarge;
                color: $coreWhite;
                text-transform: uppercase;
                text-shadow: -1.5px 2px 1px #000;
              }
            }
            .projectSnippetContainer {
              display: flex;
              height:50%;
              justify-content: center;
              align-items: center;
              .projectSnippet {
                text-align: center;
                width: 100%;
                max-width: 320px;
                padding-bottom: 30px;
                align-self: center;
                margin: 4%;
                }
              p {
                font-family: $mainFontFamily;
                font-size: 20px;
                color: $coreWhite;
              }
            }
            p {
              height: auto;
            }
          }
          .readMoreButtonContainer {
            display:flex;
            justify-content: center;
            height: 25%;
            .readMoreButton {
              width: 50%;
              height: 70%;
              background: $coreJungleGreen;
              opacity: .95;
              border: none;
              border-radius: 15px;
              transition: 400ms;
              box-shadow: 0px 3px 3px 0px black;
              color: white;
              font-size: $buttonTextSmall;
              font-family: $mainFontFamily;
              text-transform: uppercase;
              &:hover {
                cursor: pointer;
                height: 80%;
                width: 53%;
                opacity: 1;
                transition: 400ms;
              }
              &:focus {
                outline: none;
              }
              &:active {
                width: 50%;
                height: 70%;
              }
            }
          }
        }
      }
    }
  }
}

.readMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 97%;
  background: #13685E;
  border-radius: 10px;
  box-shadow: 0px 1px 14px 0px black;
  p {
    height: auto;
  }
  .readMoreWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 95%;
    .topContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 80%;
      .toolsUsedContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 2;
        flex-basis: 35%;
        height: 80%;
        font-size: 15px;
        background: $coreJungleGreen;
        border-radius: 5px;
        box-shadow: 0px 1px 14px 0px black;
        .toolsBanner {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 20%;
          font-size: $buttonTextLarge;
          color: $coreWhite;
          font-family: $mainFontFamily;
          text-shadow: -1.5px 2px 1px #000;
          text-transform: uppercase;
        }
        .toolsUsed {
          text-align: center;
          font-size: 14px;
          color: white;
          font-family: $mainFontFamily;
          margin: 2%;
          }
        }
      }
    }
    .descriptionContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 1;
      flex-basis: 62%;
      height: 90%;
      background: $coreJungleGreen;
      border-radius: 5px;
      box-shadow: 0px 1px 14px 0px black;
      .descriptionBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: $buttonTextLarge;
        color: $coreWhite;
        font-family: $mainFontFamily;
        text-shadow: -1.5px 2px 1px #000;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .description {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 13px;
        color: white;
        font-family: $mainFontFamily;
        margin: 9%;
      }
    }
    .readMoreButtonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      order: 3;
      width: 100%;
      height: 20%;
        .closeReadMoreButton {
          width: 30%;
          height: 80%;
          background: $coreJungleGreen;
          border: none;
          border-radius: 6px;
          transition: 400ms;
          margin-right: 5px;
          box-shadow: 0px 3px 3px 0px black;
          color: white;
          font-size: $buttonTextSmall;
          font-family: $mainFontFamily;
          text-transform: uppercase;
          &:hover {
            cursor: pointer;
            height: 90%;
            width: 35%;
            opacity: 1;
            transition: 400ms;
          }
          &:focus {
            outline: none;
          }
          &:active {
            width: 30%;
            height: 80%;
          }
        }
        .gitHubButton {
          width: 40%;
          height: 90%;
          background: #46435C;
          border: none;
          border-radius: 6px;
          transition: 400ms;
          box-shadow: 0px 3px 3px 0px black;
          color: white;
          font-size: $buttonTextSmall;
          font-family: $mainFontFamily;
          text-transform: uppercase;
          &:hover {
            cursor: pointer;
            height: 100%;
            width: 45%;
            opacity: 1;
            transition: 400ms;
          }
          &:focus {
            outline: none;
          }
          &:active {
            width: 40%;
            height: 90%;
          }
        }
      }
    }