.projectsHeroBanner {
  height: $componentHeightRegular;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: $componentMinHeightRegular;
  background-color: $coreMustard;
  background: linear-gradient(to bottom, rgba(27, 153, 139, .30) 0%, rgba(27, 153, 139, .10) 100%), url('../content/BackgroundImages/projectsHero.jpg' ) bottom center no-repeat;
  background-size: cover;
  min-width: 100px;
  margin-top: $componentMargin;
  @include smallPhone {
    min-height: 375px;
  }
  @include tablet {
    min-height: 375px;
  }
  @include desktop {
    height: 70vh;
  }
  .projectsTextWrapper {
    p {
      color: $coreWhite;
      font-size: $fontSizeLarge;
      font-family: $headerFontFamily;
      text-transform: uppercase;
      text-shadow: -1px 1px 2px #000;
      @include tablet {
        font-size: $fontSizeExtraLarge;
      }
      @include desktop {
        font-size: $fontSizeHuge;
      }
    }
  }
}