.sectionsComponentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 105%;
  .componentsContainer {
    height: 80%;
    .favoritesClose {
      position: absolute;
      display: none;
    }
    .favoritesOpen {
      @include booksComponentOpen;
      .favoritesComponentContainer {
        @include booksComponentContainer;
        .componentBanner {
          @include booksComponentBanner;
          .bannerContainer {
            @include booksBannerContainer;
          }
        }
        .booksContainer {
          @include booksContainer;
        }
      }
    }
    .futuresClose {
      position: absolute;
      display: none;
    }
    .futuresOpen {
      @include booksComponentOpen;
      .futureReadsComponentContainer {
        @include booksComponentContainer;
        .componentBanner {
          @include booksComponentBanner;
          .bannerContainer {
            @include booksBannerContainer;
          }
        }
        .booksContainer {
          @include booksContainer;
        }
      }
    }
    .readingClose {
      position: absolute;
      display: none;
    }
    .readingOpen {
      @include booksComponentOpen;
      .readingComponentContainer {
        @include booksComponentContainer;
        .componentBanner {
          @include booksComponentBanner;
          .bannerContainer {
             @include booksBannerContainer;
          }
        }
        .booksContainer {
          @include booksContainer;
        }
      }
    }
  }
  .buttonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
    .buttonCloseFavorites {
      @include sectionsButtonsClose;
    }
    .buttonOpenFavorites {
      @include sectionsButtonsOpen;
    }
    .buttonCloseReading {
      @include sectionsButtonsClose;
    }
    .buttonOpenReading {
      @include sectionsButtonsOpen;
    }
    .buttonCloseFuture {
      @include sectionsButtonsClose;
    }
    .buttonOpenFuture {
      @include sectionsButtonsOpen;
    }
  }
}
