.toolsComponentWrapper {
  height: $componentHeightRegular;
  min-height:  500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: $componentMargin;
}
.languageComponentClose {
  @include toolsComponentClose;
  background: $coreCoralReef;
  .languageButtonClose {
    @include toolsButtonClose;
  }
  .languagesInfo {
    display: none;
  }
}
.languageComponentOpen {
  @include toolsComponentOpen;
  .languagesInfo {
    @include toolsInfoElement;
    background: $shadeFour;
    .componentBanner {
      @include toolsComponentBanner;
      background: $coreCoralReef;
    }
    .languages {
      @include tools;
    }
    .buttonWrapper {
      @include toolsButtonWrapper;
      .languageButtonOpen {
        @include toolsButton;
        background: $coreCoralReef;
      }
    }
  }
}
.technologiesComponentClose {
  @include toolsComponentClose;
  background: $coreJungleGreen;
  .technologiesButtonClose {
    @include toolsButtonClose;
  }
}
.technologiesComponentOpen {
  @include toolsComponentOpen;
  .technologiesInfo {
    @include toolsInfoElement;
    background: $shadeTwo;
    .componentBanner {
      @include toolsComponentBanner;
      background: $coreJungleGreen;
    }
    .technologies {
      @include tools;
    }
    .buttonWrapper {
      @include toolsButtonWrapper;
      .technologiesButtonOpen {
        @include toolsButton;
        background: $coreJungleGreen;
      }
    }
  }
}
.devToolsComponentClose {
  @include toolsComponentClose;
  background: $coreCharcoal;
  .devToolsButtonClose {
    @include toolsButtonClose;
  }
}
.devToolsComponentOpen {
  @include toolsComponentOpen;
  .devToolsInfo {
    @include toolsInfoElement;
    background: $shadeThree;
    .componentBanner {
      @include toolsComponentBanner;
      background: $coreCharcoal;
    }
    .devTools {
      @include tools;
    }
    .buttonWrapper {
      @include toolsButtonWrapper;
      .devToolsButtonOpen {
        @include toolsButton;
        background: $coreCharcoal;
      }
    }
  }
}
.experienceComponentClose {
  @include toolsComponentClose;
  background: $coreMustard;
  .experienceButtonClose {
    @include toolsButtonClose;
  }
}
.experienceComponentOpen {
  @include toolsComponentOpen;
  .experienceInfo {
    @include toolsInfoElement;
    background: $shadeOne;
    .componentBanner {
      @include toolsComponentBanner;
      background: $coreMustard;
    }
    .experienceWith {
      @include tools;
    }
    .buttonWrapper {
      @include toolsButtonWrapper;
      .experienceButtonOpen {
        @include toolsButton;
        background: $coreMustard;
      }
    }
  }
}