.toolsComponentWrapper {
  height: $componentHeightRegular;
  min-height:  475px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: $componentMargin;
  @include tablet {
    height: 85vh;
    min-height: 570px;
  }
  @include desktop {
    height: 90vh;
  }
  .left {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
.languageComponentClose {
  @include toolsComponentClose;
  background: $shadeFour;
  .languageButtonClose {
    @include toolsButtonClose;
    background: $coreCoralReef;
  }
  .languagesInfo {
    display: none;
  }
}
.languageComponentOpen {
  @include toolsComponentOpen;
  .languagesInfo {
    @include toolsInfoElement;
    background: $shadeFour;
    .componentBanner {
      @include toolsComponentBanner;
      background: $coreCoralReef;
    }
    .languages {
      @include tools;
    }
    .buttonWrapper {
      @include toolsButtonWrapper;
      .languageButtonOpen {
        @include toolsButtonOpen;
        background: $coreCoralReef;
      }
    }
  }
}
.technologiesComponentClose {
  @include toolsComponentClose;
  background: $shadeTwo;
  .technologiesButtonClose {
    @include toolsButtonClose;
    background: $coreJungleGreen;
  }
}
.technologiesComponentOpen {
  @include toolsComponentOpen;
  .technologiesInfo {
    @include toolsInfoElement;
    background: $shadeTwo;
    .componentBanner {
      @include toolsComponentBanner;
      background: $coreJungleGreen;
    }
    .technologies {
      @include tools;
    }
    .buttonWrapper {
      @include toolsButtonWrapper;
      .technologiesButtonOpen {
        @include toolsButtonOpen;
        background: $coreJungleGreen;
      }
    }
  }
}
.devToolsComponentClose {
  @include toolsComponentClose;
  background: $shadeThree;
  .devToolsButtonClose {
    @include toolsButtonClose;
    background: $coreCharcoal;
  }
}
.devToolsComponentOpen {
  @include toolsComponentOpen;
  .devToolsInfo {
    @include toolsInfoElement;
    background: $shadeThree;
    .componentBanner {
      @include toolsComponentBanner;
      background: $coreCharcoal;
    }
    .devTools {
      @include tools;
    }
    .buttonWrapper {
      @include toolsButtonWrapper;
      .devToolsButtonOpen {
        @include toolsButtonOpen;
        background: $coreCharcoal;
      }
    }
  }
}
.experienceComponentClose {
  @include toolsComponentClose;
  background: $shadeOne;
  .experienceButtonClose {
    @include toolsButtonClose;
    background: $coreMustard;
  }
}
.experienceComponentOpen {
  @include toolsComponentOpen;
  .experienceInfo {
    @include toolsInfoElement;
    background: $shadeOne;
    .componentBanner {
      @include toolsComponentBanner;
      background: $coreMustard;
    }
    .experienceWith {
      @include tools;
    }
    .buttonWrapper {
      @include toolsButtonWrapper;
      .experienceButtonOpen {
        @include toolsButtonOpen;
        background: $coreMustard;
      }
    }
  }
}