//Website Core Colors
$coreCoralReef: #FF7473;
$coreLightGray: #e4e7ec;
$coreJungleGreen: #1B998B;
$coreCharcoal: #34314c;
$coreMustard: #FFC952;
$coreWhite: white;
$coreBlack: black;

//Accent Color

$accentOceanGreen: #4FCF91;

//SubMenu Color
$subMenuCharcoal: #58566C;

//Hover Colors
$subMenuHover: #233451;
$mobileMenuHover: #1C2A41;
$hoverJungleGreen: #198C7F;

//Education Component Colors:
$shadeOne: #E8B74B;
$shadeTwo: #177E72;
$shadeThree: #3E3C50;
$shadeFour: #D15F5F;

//Website Core Font-Sizes

$fontSizeSmall: 12px;
$fontSizeRegular: 20px;
$fontSizeMedium: 24px;
$fontSizeLarge: 28px;
$fontSizeExtraLarge: 34px;
$fontSizeHuge: 40px;

//Core Fonts

$mainFontFamily: 'Roboto', sans;
$accentFontFamily: 'Rubic', sans;
$chalk: 'colored_crayonsregular';

//Margins

$componentMargin: 2.5px;

//Standard Component Sizes

$componentHeightSmall: 40vh;
$componentMinHeightSmall: 400px;
$componentHeightRegular: 50vh;
$componentMinHeightRegular: 450px;
$componentHeightLarge: 75vh;
$componentMinHeightLarge: 700px;
$componentMaxHeight: 100vh;
$componentMinMaxHeight: 900px;

