//Website Core Colors
$coreCoralReef: #FF7473;
$coreLightGray: #e4e7ec;
$coreJungleGreen: #1B998B;
$coreCharcoal: #34314c;
$coreMustard: #FFC952;
$coreWhite: white;
$coreBlack: black;

//Accent Color

$accentOceanGreen: #4FCF91;

//SubMenu Color
$subMenuCharcoal: #58566C;

//Hover Colors
$subMenuHover: #233451;
$mobileMenuHover: #1C2A41;
$hoverJungleGreen: #198C7F;

//Website Core Font-Sizes

$fontSizeSmall: 12px;
$fontSizeRegular: 20px;
$fontSizeLarge: 28px;
$fontSizeExtraLarge: 34px;
$fontSizeHuge: 40px;

//Core Fonts

$mainFontFamily: 'Roboto', sans;
$accentFontFamily: 'Rubic', sans;
$chalk: 'colored_crayonsregular';