//Website Core Colors
$coreBlueGray: #6d819c;
$coreLightGray: #e4e7ec;
$corePastelGreen: #55967e;
$coreDarkBlue: #263959;
$coreDarkTurqoise: #42ADE8;

//Website Core Font-Sizes

$fontSizeSmall: 12px;
$fontSizeRegular: 20px;
$fontSizeLarge: 28px;
$fontSizeExtraLarge: 34px;
$fontSizeHuge: 40px;

//Core Fonts

$mainFontFamily: 'Roboto', sans;
$accentFontFamily: 'Rubic', sans;
$chalk: 'colored_crayonsregular';