html, body, h1, p {
  height: 100%;
  margin: 0;
  width:100%;
}

@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'mobileNavBar';
@import 'mobileNavBarExpanded';
@import 'mobileSubMenu';
@import 'headerComponent';
@import 'aboutComponent';
@import 'educationHero';
@import 'educationComponent';
@import 'booksHero';
@import 'booksComponentButton';
@import 'toolsHero';
@import 'toolsComponent';

